In [56]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import pymongo
import json

In [57]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [58]:
# Define database and collection
db = client.astronaut_db
collection = db.facts

In [59]:
# URL of page to be scraped
url = 'https://www.archives.gov/research/alic/reference/space-timeline.html'

In [60]:
# Retrieve page with the requests module
response = requests.get(url)
print(response.url)

https://www.archives.gov/research/alic/reference/space-timeline.html

In [61]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text,'html.parser')

In [62]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [63]:
# results are returned as an iterable list
results = soup.find_all('div', class_="region")
#results

In [64]:
#results = soup.find_all('div', class_="region")
#results

In [65]:
# Loop through returned results
years = soup.find_all('strong')
year_counts = []

for year in years:
    #print(year.text)
    
    year_counts.append(year.text) 

    
    year_list_length = (len(year_counts))
    
print(f'The length of the year list is {year_list_length} items')

The length of the year list is 47 items

In [66]:
year_counts.remove(year_counts[0])

In [67]:
numbered_years = []

for item in year_counts:
    year_floated = int(item)
    numbered_years.append(year_floated)
    
print(numbered_years)

[1957, 1958, 1960, 1961, 1962, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1975, 1976, 1977, 1979, 1980, 1981, 1983, 1984, 1985, 1986, 1989, 1990, 1992, 1993, 1994, 1995, 1997, 1998, 1999, 2000, 2001, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

In [68]:
#print(year_counts)
print(len(numbered_years))

46

In [69]:
### Loop through returned results for fun facts
fun_facts = soup.select('ul')
#print(fun_facts)
 
fact_list = []


for fact in fun_facts:
    first_li = fact('li')[0].text
    #print(fact)
    fact_list.append(first_li)
    #print('------------------')
    

    fact_list_length = (len(fact_list))
print(f'The length of the fact_list is {fact_list_length} items')

The length of the fact_list is 1 items
The length of the fact_list is 2 items
The length of the fact_list is 3 items
The length of the fact_list is 4 items
The length of the fact_list is 5 items
The length of the fact_list is 6 items
The length of the fact_list is 7 items
The length of the fact_list is 8 items
The length of the fact_list is 9 items
The length of the fact_list is 10 items
The length of the fact_list is 11 items
The length of the fact_list is 12 items
The length of the fact_list is 13 items
The length of the fact_list is 14 items
The length of the fact_list is 15 items
The length of the fact_list is 16 items
The length of the fact_list is 17 items
The length of the fact_list is 18 items
The length of the fact_list is 19 items
The length of the fact_list is 20 items
The length of the fact_list is 21 items
The length of the fact_list is 22 items
The length of the fact_list is 23 items
The length of the fact_list is 24 items
The length of the fact_list is 25 items
The length of the fact_list is 26 items
The length of the fact_list is 27 items
The length of the fact_list is 28 items
The length of the fact_list is 29 items
The length of the fact_list is 30 items
The length of the fact_list is 31 items
The length of the fact_list is 32 items
The length of the fact_list is 33 items
The length of the fact_list is 34 items
The length of the fact_list is 35 items
The length of the fact_list is 36 items
The length of the fact_list is 37 items
The length of the fact_list is 38 items
The length of the fact_list is 39 items
The length of the fact_list is 40 items
The length of the fact_list is 41 items
The length of the fact_list is 42 items
The length of the fact_list is 43 items
The length of the fact_list is 44 items
The length of the fact_list is 45 items
The length of the fact_list is 46 items
The length of the fact_list is 47 items
The length of the fact_list is 48 items
The length of the fact_list is 49 items
The length of the fact_list is 50 items
The length of the fact_list is 51 items
The length of the fact_list is 52 items
The length of the fact_list is 53 items
The length of the fact_list is 54 items
The length of the fact_list is 55 items
The length of the fact_list is 56 items
The length of the fact_list is 57 items
The length of the fact_list is 58 items
The length of the fact_list is 59 items

In [70]:
#print(fact_list)

In [71]:
updated_fact_list = fact_list[8:]
#updated_fact_list

In [72]:
usable_fact_list = updated_fact_list[:46]
#usable_fact_list

In [73]:
df = pd.DataFrame({"Year": numbered_years, "Facts":usable_fact_list})
df.head()

   Year                                              Facts
0  1957  October 4 - The Soviet Union launched the firs...
1  1958  January 31 - Explorer 1 was the first satellit...
2  1960  August 19 - The Soviet craft Sputnik 5 was lau...
3  1961  April 12 - Russian cosmonaut Yuri Gagarin beca...
4  1962  February 20 - Astronaut John Glenn became the ...

In [74]:
df.to_csv('year_fact.csv', index=False)

In [75]:
data = df.to_dict(orient='records')  # Here's our added param..

collection.insert_many(data)